<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/css/bootstrap-3.3.7-dist/css/jquery-3.1.0.js"></script>

    <link rel="stylesheet" href="/images/index.css">
</head>
<body>
<script type="text/javascript">

</script>
    <header>
        <nav>
<title>Ansis Homework</title>
<script>
    $(document).ready(function() {
        var user, pass;
        $("#submit").click(function(){
            user=$("#user").val();
            pass=$("#password").val();
            $.post("http://localhost:8888/login",{user: user,password: pass}, function(data) {
                if (data === 'done') {
                    alert("login success");
                }
            });
        });
    });
</script>

<center><h1>Ansis Homework to do list</h1></center>
<ul>
    <li>Home</li>
    <li><a href="page2.html">Page2</a> </li>
    <li><a href="page3.html">Page3</a> </li>
</ul>
        </nav>
    </header>
<p>Email: 123</p>
<p>Password: 1234</p>
<div class="container">
    <div class="row">
        <div class="well ">
            <form class="form">

                <form action="/login" method="post">

                <div class="form-group">
                    <label class="control-label"><em>Email</em></label>
                    <input class="form-control" name="Email" type="text" id="user1">
                </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input class="form-control" name="Password" type="password" id="password1">
                </div>

                <div class="form-group">
                    <input type="submit" onclick="check(this.form)" class="btn btn-default" id="submit1" name="submit">
                </div>

                </form>

            </form>
        </div>
    </div>
</div>
<p>Izmeginajuma teksts</p>
<p class="secondary">Izmeginajuma teksts</p>
<p class="third">Izmeginajuma teksts</p> <br/>
<form action="/todolist.html" method="post">
    <input type="text" name="username" id="user">
    <input type="password" name="password" id="password">
    <input type="submit" name="submit" id="submit">
</form>


<footer>@My Footer</footer>
</body>
</html>